@tailwind base;
@tailwind components;
@tailwind utilities; 

@font-face {
  font-family: "Mulish-Medium";
  src: url("./assets/fonts/Mulish-Medium.ttf");
}

@font-face {
  font-family: "Mulish-Regular";
  src: url("./assets/fonts/Mulish-Regular.ttf");
}

@font-face {
  font-family: "Mulish-SemiBold";
  src: url("./assets/fonts/Mulish-SemiBold.ttf");
}

@font-face {
  font-family: "Mulish-Bold";
  src: url("./assets/fonts/Mulish-Bold.ttf");
}

@font-face {
  font-family: "Mulish-ExtraBold";
  src: url("./assets/fonts/Mulish-ExtraBold.ttf");
}

@font-face {
  font-family: "Mulish-Black";
  src: url("./assets/fonts/Mulish-Black.ttf");
}
@font-face {
  font-family: "NotoSans-Medium";
  src: url("./assets/fonts/NotoSans-Medium.ttf");
}

@font-face {
  font-family: "NotoSans-Regular";
  src: url("./assets/fonts/NotoSans-Regular.ttf");
}

@font-face {
  font-family: "NotoSans-SemiBold";
  src: url("./assets/fonts/NotoSans-SemiBold.ttf");
}

@font-face {
  font-family: "NotoSans-Bold";
  src: url("./assets/fonts/NotoSans-Bold.ttf");
}

@font-face {
  font-family: "NotoSans-ExtraBold";
  src: url("./assets/fonts/NotoSans-ExtraBold.ttf");
}

@font-face {
  font-family: "NotoSans-Black";
  src: url("./assets/fonts/NotoSans-Black.ttf");
}

html {
  scroll-behavior: smooth;
}

.scroll_event::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll_event {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  transition: transform 0.3s ease-out;
  scroll-behavior: smooth;
}